.App {
  text-align: center;
}

.news-thumbnail {
  margin-top: 5px;
  border-radius: 15%;
  /*border: 1px solid #ddd;*/
  width: 50%;
  height: 100px;
}

.news-thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.news-sources {
	position: fixed;
	height: 750px;
	overflow:scroll;
}

.news-headline {
	max-height: 300px;
  min-height: 280px;
  border: 1px solid #ddd;
	/*overflow: scroll;*/

}
.news-headline:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.headline {
  min-height: 40px;
}

.description {
	min-height: 50px;
	max-height: 50px;
	overflow:auto;
}

.links {
  text-align: center;
}

.links .btn {
  margin: 5px;
}

/*.article-link {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}*/

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 15px;
    }

    body {
    	font-size: 10px;
    }
}